{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb/base"],
  "rules": {
    "func-names": "off",
    "no-use-before-define": "off",
    "no-plusplus": "off",
    "max-len": ["error", 150],
    "consistent-return": "off"
  }
}